<footer>
	<div class="container center">
		<div class="social">
			<a href="https://github.com/mnikolaus/"><i class="fa fa-github"></i></a>
			<a href="https://mnikolaus.tumblr.com/"><i class="fa fa-tumblr"></i></a>
			<a href="https://500px.com/mnikolaus"><i class="fa fa-500px"></i></a>
		</div>
		<p>
			All rights reserved &copy; 2012 - {{ site.time | date: '%Y' }}
		</p>
	</div>
</footer>
<script type="text/javascript">
	var $hamburger = document.querySelector('.hamburger');
	var $nav = document.querySelector('.nav nav');
	$hamburger.addEventListener('click', function() {

		this.classList.toggle('open');
		$nav.classList.toggle('open');
	});
</script>
</body>
</html>