<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>{{ page.title }}</title>

	<meta name="description" content="{{ page.description }}">
    <meta property="og:url" content="{{ site.share-url }}{{page.url}}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.SEOtitle }}" />
    <meta property="og:description" content="{{ page.description }}" />
    {% if page.image %}
    <meta property="og:image" content="{{site.share-url}}/assets/images/{{page.image}}" />
    <meta property="og:image:height" content="{{page.image_height}}" />
    <meta property="og:image:width" content="{{page.image_width}}" />
    {% else %}
    <meta property="og:image" content="{{site.share-url}}{{site.image}}" />
    <meta property="og:image:height" content="{{site.image_height}}" />
    <meta property="og:image:width" content="{{site.image_width}}" />
    {% endif %}
	
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,900' rel='stylesheet' type='text/css'>
	<link href="/assets/css/fa.css" rel='stylesheet' type='text/css'>
	<link href="/assets/css/styles.css" rel='stylesheet' type='text/css'>
	<link rel="icon" href="/assets/img/favicon.png" type="image/x-icon">	
</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74201705-1', 'auto');
  ga('send', 'pageview');

</script>
<header class="navigation">
	<div class="container">
		<div class="logo">
			<span><span>M</span>ario<span>Nikolaus</span></span>
		</div>
		<div class="nav">
			<div class="hamburger">
			  <span></span>
			  <span></span>
			  <span></span>
			  <span></span>
			</div>
			<nav>
				<a {% if page.active == "home" %}  class="active" {% endif %} href="/">Home</a>
				<a {% if page.active == "services" %}  class="active" {% endif %} href="/services">Services</a>
				<a {% if page.active == "portfolio" %}  class="active" {% endif %} href="/portfolio">Portfolio</a>
				<a {% if page.active == "blog" %}  class="active" {% endif %} href="/blog">Blog</a>
				<a {% if page.active == "contact" %}  class="active" {% endif %} href="/contact">Contact</a>
			</nav>
		</div>
	</div>
</header>
<section class="colored">
	<div class="container">
		<div class="title">
			<h1>
				{{ page.heading }}
			</h1>
			{% if page.date %}
			<span>
				Published on: {{ page.date | date: '%B %d, %Y'}}
			</span>
			{% endif %}
		</div>
	</div>
</section>