<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<link rel="icon" href="/assets/img/favicon.png" type="image/x-icon">
	<!-- <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon"> -->
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
	<link href="/assets/css/fa.css" rel='stylesheet' type='text/css'>
	<style>
		.colored {
			background-color: #f4ae00;	
		}
	</style>
	<!-- <link href="/assets/css/styles.css" rel='stylesheet' type='text/css'> -->
</head>
<body>
<script type="text/javascript">
	var cb = function() {
        var l = document.createElement('link'); l.rel = 'stylesheet';
        l.href = '/assets/css/styles.css';
        var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(cb);
      else window.addEventListener('load', cb);
</script>
<header class="navigation">
	<div class="container">
		<div class="logo">
			<span><span>M</span>ario<span>Nikolaus</span></span>
		</div>
		<div class="nav">
			<nav>
				<a {% if page.active == "home" %}  class="active" {% endif %} href="/">Home</a>
				<a {% if page.active == "services" %}  class="active" {% endif %} href="/services">Services</a>
				<a {% if page.active == "portfolio" %}  class="active" {% endif %} href="/portfolio">Portfolio</a>
				<a {% if page.active == "blog" %}  class="active" {% endif %} href="/blog">Blog</a>
				<a {% if page.active == "contact" %}  class="active" {% endif %} href="/contact">Contact</a>
			</nav>
		</div>
	</div>
</header>
<section class="colored">
	<div class="container">
		<div class="title">
			<h1>
				{{ page.heading }}
			</h1>
		</div>
	</div>
</section>